{% extends 'base.html' %}
{% block content %}
 {% include 'status.html'%}

 <div class="row mt-3">
 <div class="col-12">
     <div class="card">
         <div class="card-body">
             <table class="table table-sm">
                 <tr>
                     <th>Product</th>
                     <th>Category</th>
                     <th>Note</th>
                     <th>Date of Birth</th>
                     <th>Status</th>
                 </tr>
                 {% for order in orders %}
                 <tr>
                 <td>{{ order.product.prod_name }}</td>
                 <td>{{ order.product.category }}</td>
                 <td>{{ order.note }}</td>
                 <td>{{ order.date_created }}</td>
                 <td>{{ order.status }}</td>
                 </tr>
                 {% endfor %}
             </table>
         </div>
     </div>
 </div>
 </div>
{% endblock %}