<br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success">
                <h5 class="text-white text-center">Total Orders</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">{{ total_orders }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="text-white text-center">Orders Delivered</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">{{ delivered }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-danger">
                <h5 class="text-white text-center">Orders Pending</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">{{ pending }}</h3>
            </div>
        </div>
    </div>
</div>